@charset "utf-8";

/*

*/

* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
  /* background-color: aquamarine; */
}

body {
    /* background-color: aliceblue; */
  font-family: Arial, sans-serif;
  margin: auto;
  padding: 0%;
  background-image: linear-gradient(#fbeaff,#b39cd0)
}

header {
  background-color: #433f66;
  color: aliceblue;
  height: 180px;
  
}

nav{
background-color: aliceblue;
height: 30px;
}

footer{
    background-color: #b39cd0;
    height: 175px;
}

main{
    background-color: #7645b3;
    justify-content: flex-start;
    height: auto;
}

h1{
    text-align: center;
}

#imgmain 






